$layout-xs: 768px;
$layout-sm: 1024px;
$layout-mat: 1280px;
$layout-lg: 1920px;

$colorPlayStore: #3b3b3b;
$colorFontPricinpal: #4d4d4d;
$colorFont: #c3c1c1;
$colorGreen: #268090;
$colorButtonGreen: #01be6f;
$colorButtonBlue: #083cb4;
$colorInstagram: #7b06b1;
$colorPrimary: #8ec7e2;
$blueWarn: #5b6bb3;
$blueGradient: #2184a8;
$colorBackground: #cacaca;
$colorSec: #fda93b;
$salmon: #fbc195;
$salmonSec: #df8670f6;

// yellow #fdcd3b, #ffed4b
// vlue #2193b0 → #6dd5ed
// blues #02aab0 → #00cdac
// black #000428 → #004e92
// white #fdfbfb → #ebedee
// white #f5f7fa → #c3cfe2
// blue #667eea → #764ba2